body {
  font-family: futura;
  background-color: antiquewhite;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 10px;
  width: 50%;
  height: 250px;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}

.user-container,
.business-container,
.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* text-align: center; */
}

.user-card,
.business-card,
.review-card {
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid palegoldenrod;

  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;

  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(188, 143, 143, 0.3);
  box-shadow: 0 0 1px rgb(172, 165, 92);
}

.business-card img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
}

.single-card img {
  max-width: 100%;
  border-radius: 20px;
  padding: 15px;
}

.single-card {
  display: flex;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  padding: 15px 30px 15px 25px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 30%;
  background-color: rgb(188, 143, 143, 0.2);
  margin: 0 auto;
}

.review-form {
  border-radius: 10px;
}

.logout-button {
  width: 5%;
  height: 30px;
  background: rgb(211, 147, 82);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  margin-left: 1300px;
  margin-top: -100px;
  color: black;
  font-weight: 700;
}

button {
  width: 7%;
  height: 40px;
  background: rgb(211, 147, 82);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  margin-left: 350px;
  margin-top: 400px;
  color: black;
  font-weight: 700;
}

.business-image {
  width: 700px;
  height: 250;
  border-radius: 15px;
  position: absolute;
  margin-top: -100px;
  margin-left: 600px;
  padding: 10px;
}
